.infobar-right {
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .player-segment {
    margin-bottom: 10px;
  }
  
  .player-info {
    display: flex;
    flex-direction: column;
  }
  
  .player-name,
  .player-color,
  .iron-quantity,
  .wheat-quantity,
  .oil-quantity {
    margin-bottom: 5px;
  }
  